.forgot_password {
  & .success_typing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: rgb(85, 85, 85);
    font-size: 1.2rem;

    & svg {
      margin-bottom: 15px;
      width: 30px;
      color: rgb(85, 85, 85);
      height: auto;
    }

    & span {
      font-weight: normal;
      display: block;
      margin-top: 10px;
      font-size: 0.9rem;
      color: rgb(130, 130, 130);
    }
  }
}
