body {
  width: 100vw;
  height: 100svh;
}

.form_inputContainer {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d1117;

  & .form_inputWrap {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.forgot_password {
  & .success_typing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #c9d1d9;
    font-size: 1.2rem;

    & svg {
      margin-bottom: 15px;
      width: 30px;
      color: #c9d1d9;
      height: auto;
    }

    & span {
      font-weight: normal;
      display: block;
      margin-top: 10px;
      font-size: 0.9rem;
      color: #8b949e;
    }
  }
}
