body {
  width: 100vw;
  height: 100svh;
}

.login_inputContainer {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d1117;

  & .login_inputWrap {
    max-width: 300px;
    width: 100%;
    // height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    & form {
      width: 100%;
      margin-bottom: 30px;
    }

    & a {
      font-size: 0.9rem;
      color: #8b949e;
      transition: 0.5s;

      &:hover {
        color: #c9d1d9;
      }
    }

    & .login_socail_btn {
      width: 90px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.naver_logn_btn {
  width: 40px;
  height: 40px;
}
